<!--Seccion donde se encuentra el listado completo de productos-->
<br>
<h1>Clientes registrados</h1>
<div  *ngIf="success">

<table class="table table-hover">

	<thead>
		<!--Cabecera de tabla-->
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
			<th scope="col">Identificacion</th>
			<th scope="col">Compañia</th>
		</tr>
	</thead>


		<!--Cuerpo de la tabla      *ngIf="peticion_succeful"-->
	<tbody> 
		<tr *ngFor="let client of clients; let indice = index">
			<th scope="row">{{indice}}</th>
			<td><a  [routerLink]="['/clients/details/', client._id]">{{client.name}}</a></td>
			<td>{{client.surname}}</td>
			<td>{{client.identification}}</td>
			<td>{{client.company}}</td>
		</tr>
	</tbody>
</table>
</div>
