<!--Seccion donde se toman los datos del nuevo cliente para registrar-->
<section>
	
	<br>
	<h1>{{title}}</h1>

	<div class="alert alert-success" *ngIf="success == 1" role="alert">
	  Se ha registrado un nuevo cliente exitosamente.<a [routerLink]="['/clients/details/', newId]" class="alert-link">Haga click aqui</a> para ver los detalles.
	</div>

	<form #newClient="ngForm" (ngSubmit)="onSubmit(client.company)">

		<div class="form-group">
			<label for="name">Nombre</label>
			<input type="text" class="form-control" placeholder="Nombre" name="name" #name="ngModel" [(ngModel)]="client.name" required>
			<div *ngIf="name.touched && !client.name" class="alert alert-danger" role="alert">
				El nombre es requerido
			</div>
		</div>

		<div class="form-group">
			<label for="surname">Apellido</label>
			<input type="text" class="form-control" name="surname" placeholder="Apellido" #surname="ngModel"
			[(ngModel)]="client.surname" [disabled]="client.company" required>
			<div *ngIf="surname.touched && !client.surname && !client.company" class="alert alert-danger" role="alert">
				El apellido es requerido
			</div>
		</div>

		<div class="form-group">
			<label for="identification">Identificacion</label>
			<input type="number" class="form-control" name="identification" placeholder="Identificacion" #identification="ngModel"
			[(ngModel)]="client.identification" required>
			<div *ngIf="identification.touched && !client.identification" class="alert alert-danger" role="alert">
				La identificacion es requerida
			</div>
		</div>

		<div class="form-check">
			<input class="form-check-input" type="radio" name="companyFalse"  value="false"  checked #companyFalse="ngModel" [(ngModel)]="client.company">
			<label class="form-check-label" for="companyTrue">
			Persona natural
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="companyTrue" value="true" checked #companyFalse="ngModel" [(ngModel)]="client.company">
			<label class="form-check-label" for="companyTrue">
			Compañia
			</label>
		</div>
		<br>

		 <button type="submit" class="btn btn-primary" [disabled]="!newClient.form.valid">Guardar</button>
	</form>

</section>