<!--Seccion de pagina principal-->
<section>
	<br>
	<div class="center">
		<a class="btn btn-outline-primary bt-home" [routerLink]="['/registry/add']" role="button">Registrar compra</a>
		<a class="btn btn-outline-primary bt-home" [routerLink]="['/clients/add']" role="button">Registrar cliente</a>
		<a class="btn btn-outline-primary bt-home" [routerLink]="['/inventory/add']" role="button">Registrar producto</a>
		<a class="btn btn-outline-primary bt-home" [routerLink]="['/inventory']" role="button">Inventario</a>
		<a class="btn btn-outline-primary bt-home" [routerLink]="['/clients']" role="button">Clientes</a>
	</div>
	
</section>