<!--Seccion de detalles de un cliente-->

<br>
<section class="jumbotron" *ngIf="success == true">

	<h1 *ngIf="!clientInRegistry">Detalles de {{client.name}} {{client.surname}}</h1>
	<h1 *ngIf="clientInRegistry">{{client.name}} {{client.surname}}</h1>
	<hr>
	<ul>
		<li>Nombre: {{client.name}}</li>
		<li *ngIf="!client.company">Apellido: {{client.surname}}</li>
		<li>Identificacion: {{client.identification}}</li>
		<li *ngIf="client.company">Compañia</li>
		<li *ngIf="!client.company">Persona natural</li>
	</ul>

	<hr>
	<button *ngIf="!clientInRegistry" type="button" class="btn btn-warning" [routerLink]="['/clients/edit/', id]">Editar</button>

	<!--En caso de que este en Compra y se quiera cambiar el cliente-->
	<button *ngIf="clientInRegistry" type="button" class="btn btn-warning" (click)="change($event)">Cambiar cliente</button>

</section>
